@import url("https://use.typekit.net/ukx6enw.css");

:root{

  --black: #1d1d1b;
  --orange: #ff930f;
  --white: #f4f4f4;
}


  body {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
    background-color: var(--black);
  overflow: hidden;
  }


.glowing {
  position: relative;
  min-width: 700px;
  height: 550px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
  transform-origin: left;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}

.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}

.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}

.glowing span:nth-child(3n + 1)::before {
  background: rgba(134,255,0,1);
  box-shadow: 0 0 20px rgba(134,255,0,1),
    0 0 40px rgba(134,255,0,1),
    0 0 60px rgba(134,255,0,1),
    0 0 80px rgba(134,255,0,1),
    0 0 0 8px rgba(134,255,0,.1);
}

.glowing span:nth-child(3n + 2)::before {
  background: rgba(255,214,0,1);
  box-shadow: 0 0 20px rgba(255,214,0,1),
    0 0 40px rgba(255,214,0,1),
    0 0 60px rgba(255,214,0,1),
    0 0 80px rgba(255,214,0,1),
    0 0 0 8px rgba(255,214,0,.1);
}

.glowing span:nth-child(3n + 3)::before {
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0,226,255,1),
    0 0 40px rgba(0,226,255,1),
    0 0 60px rgba(0,226,255,1),
    0 0 80px rgba(0,226,255,1),
    0 0 0 8px rgba(0,226,255,.1);
}

.glowing span:nth-child(3n + 1) {
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
  animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
  animation: animate 8s alternate infinite; 
}

@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
  main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70%;
    justify-self: center ;
    
  }


  h1{
    
    font-family: "obviously-wide", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
/*     background-image: url(img/screenshot-1030-3.jpg);
    background: linear-gradient(60deg, red, yellow, red, yellow, red); */
  color: var(--white);
    /* -webkit-text-stroke: 2px var(--black);  */
    margin-bottom: 20px;
text-align: center;
  }
/* 
  .texteffect{background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.2);} */

  .description{
    max-width: 500px;
    align-self: center;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .resultParas{
    display: flex;
    flex-direction: column;
  align-items: center;
  gap: 10px;
  }

  .resultParas p{
    margin: 0;
  }

  .lastResult{
text-transform: uppercase;
  }

  .form input[type="number"] {
    width: 200px;
    background-color: var(--orange);
    padding: 5px;
  }

  .form input[type="number"]:focus{
    border-color: aliceblue;
  }

  .lastResult {
    color: black;
    padding: 3px;
  }

  .guessSubmit{
    background-color: var(--black);
    color: var(--orange);
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px;
    border: none;
    align-items: center;
  }

  .guessSubmit:hover{
    transform: scale(0.9); 
  }

  footer{
    display: flex;
    justify-content: center;
    align-self: end;

    margin-top: 40px;
  }

  button{
    max-width: 150px;
    height: auto;
    justify-self: center;
    align-self:center;
    margin-top: 0;
  }

  .formflex{
    display: flex;
    align-items: center;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
  }


  
  @media only screen and (min-width: 600px) {
    h1{
      font-size: 4rem;
    }
  }